<%- include('./partials/header.ejs') %>

<h1>Price Loop</h1>
<h2>Track prices, share with others, and build a community!</h2>
<img 
src="https://images.pexels.com/photos/29611783/pexels-photo-29611783/free-photo-of-candlestick-chart-displaying-market-trends.jpeg?auto=compress&cs=tinysrgb&w=600"
alt="Financial chart showing uptrend"
class="home-page"
/>
<p>The only way to improve your finances is by caring and taking action. In a world where information is power, tracking and sharing prices can give you an edge.</p>
<%- include('./partials/footer.ejs') %>