<%- include('./partials/header.ejs') %>

<h1>Price Loop</h1>
<h2>Track prices, share with others!</h2>
<img 
src="https://images.pexels.com/photos/29611783/pexels-photo-29611783/free-photo-of-candlestick-chart-displaying-market-trends.jpeg?auto=compress&cs=tinysrgb&w=600"
alt="Financial chart showing uptrend"
class="home-page"
/>
<p>Information is power! Tracking and sharing prices can give you an edge.</p>
<%- include('./partials/footer.ejs') %>