* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
}

@media(max-width: 768px){
  .main-container {
    flex-direction: column;
    align-items: center;
  }
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: black;
  color: white;
}

nav,
footer {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
  font-size: 2vh;
  color: lightslategray;
}

nav a {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;

  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

nav span {
  font-size: 1.5vmin;
  color: lightslategray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
  overflow-y: auto;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

input,
textarea,
select {
  border: 0.3vmin solid black;
}

form button[type='submit'] {
  grid-column: span 2;
}

button:hover {
  background-color: lightslategray;
  color: white;
}

.error-msg {
  color: rgb(223, 116, 116);
}

#show-pg {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4rem;
}

@media (max-width: 900px) {
  #show-pg {
    grid-template-columns: auto auto; 
  }
}

@media (max-width: 600px) {
  #show-pg {
    grid-template-columns: auto;
  }
}

p {
  text-align: center;
}

.list-group-item.active a {
  color: white;
  text-decoration: none;
}

th a {
  display: inline-block;
  margin: 0 4 px;
  text-decoration: none;
}

th {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

h1, h2, .home-page {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

.home-page {
  width: 100%;
  margin-top: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,0.8)
}

.home-description {
  margin-top: 2rem;
  text-align: center;
}

.index {
  width: 100%;
  overflow-x: auto;
}