<%- include('../partials/header.ejs') %>

<h1><%= Add Item %></h1>

<form action="">
  <label for="category">Category</label>
  <input type="text" id="category" name="category">
  <label for="location"></label>
  <input type="text" id="location" name="location">
</form>



<%- include('../partials/footer.ejs') %>